.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("stars-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffe662;
}

.characters-container {
  text-align: center;
  min-height: 100vh;
  color: #ffe662;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: transparent;
}

.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  background-position: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.search-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #ffe662;
  border: none;
  padding: 10px 20px;
  color: black;
}

.characters-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
